<h2>Edit Bucketlist</h2>

<form action="/wishes/<%= @bucket.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="wish" value="<%= @bucket.wish %>">
  <input type="text" name="description" value="<%= @bucket.description %>">
  <input type="submit" value="Update">
</form>
<form action="/wishes/<%= @bucket.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

