<h1>Bucketlist</h1>

<h2><a href="/wishes/new">Add to Your Bucketlist</a></h2>

<h2>My Bucket List</h2>

<ul class="items">
<% @bucket.each do |item| %>
<li><a href='/wishes/<%= item.id %>'><%= item.wish  %></a></li>
<% end %>
</ul>

