
  <article>
<ul class="bucket_list">
<% @bucket.each do |item| %>
<li><a href='/wishes/<%= item.id %>'><%= item.wish  %></a></li>
<% end %>
  <li><a href="/wishes/new">Add to Your Bucket List</a></li>
</ul>
</article>

