<h2>Add To Your Bucket List</h2>

<form action="/" method="post">
  <input type="text" name="wish" placeholder="Add To Your List">
  <input type="text" name="description" placeholder="Description">
  <input type="submit" value="Add">
</form>