<article>
  <ul class="wish_list">
    <form action="/" method="post">
 <li><input type="text" class="search_box" name="wish" placeholder="Add To Your List"></li>
  <li><input type="text" class="search_box" name="description" placeholder="Description"></li>
 <li><input type="submit" value="Add"></li>
</form>
  </ul>
</article>